<?xml version="1.0"?>
<model>
  <name>ROSbot 2 Pro</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
 
  <author>
   <name>Leonel Patrick Siqueiros-Bernal</name>
   <email>lpsiqueiros7wd@tamu.edu@my.email</email>
  </author>
 
  <description>
    Robot representing the ROSbot 2 Pro.
  </description>
</model>
